extends ../layout

block content
    .login-container
        h1 Iniciar Sesión
        form(action="/auth/login" method="POST")
            .form-group
                label(for="mail") Correo:
                input(type="text" name="mail" id="mail" required)
            .form-group
                label(for="password") Contraseña:
                input(type="password" name="password" id="password" required)
            .form-group
                button(type="submit") Iniciar Sesión
        if error
            p.error(style="color:red;")= error

