h4.mt-4 Alergias Registradas
table.table.table-sm(id="tablaAlergias")
  thead
    tr 
      th(scope='col') Nombre
      th(scope='col') Fecha desde 
      th(scope='col') Importancia
  tbody                 

h5.mt-4 Agregar una nueva alergia
.row
  .col 
    input.form-control(type='text' id='inputNombreAlergia' placeholder='Ingrese el nombre' aria-label='Nombre')
  .col
    input.form-control(type="date" name="fecha" id="fechaAlergia" value=fechaSeleccionada)
  .col
    select.form-select(id='selectImportancia' aria-label='Importancia')
      option(value='' selected) Importacia
      option(value='Leve') Leve
      option(value='Normal') Normal
      option(value='Alta') Alta

button.btn.btn-primary.mt-4(type='button' onClick="agregarFilaAlergia()") Agregar alergia
hr
