.row
    .col
        button.btn.btn-primary.mt-2.me-4(type='button' id='finalizarConsulta') Finalizar Atencion
        button.btn.btn-primary.mt-2.me-4(type='button' id='cancelarConsulta') Cancelar 
