h4.mt-4 Medicamentos
table.table.table-sm(id="tablaMedicamentos")
  thead
    tr 
      th(scope='col') Nombre
      th(scope='col') Dosis
      th(scope='col') Frecuencia 
  tbody 

h5.mt-4 Agregar un nuevo medicamento
.row
  .col 
    input.form-control(type='text' id='inputNombreMedicamento' placeholder='Ingrese el nombre' aria-label='Nombre')
  .col 
    input.form-control(type='text' id='inputDosisMedicamento' placeholder='Ingrese la dosis' aria-label='Dosis')
  .col 
    input.form-control(type='text' id='inputFrecuenciaMedicamento' placeholder='Ingrese la frecuencia' aria-label='Frecuencia')

button.btn.btn-primary.mt-4(type='button' onClick="agregarFilaMedicamento()") Agregar Medicamento
hr
