.card.w-100
  .card-body
    include tarjetaPaciente
    include alergiasImportantes
    include historiasClinicas
    include evoluciones
    include diagnosticos
    include alergiasRegistradas
    include antecedentesPatologicos
    include habitos
    include medicamentos
    include botones
    div#erroresContainer.mt-4
      if false
        div.alert.alert-warning(role="alert") This is a warning alert—check it out!

