.accordion-item
  h2.accordion-header
    button.accordion-button.collapsed(type='button' data-bs-toggle='collapse' data-bs-target='#panelsStayOpen-collapseOne' aria-expanded='false' aria-controls='panelsStayOpen-collapseOne')
      | Evoluciones
  #panelsStayOpen-collapseOne.accordion-collapse.collapse
    .accordion-body
      div#mostrarEvolucion !{evolucion.descripcion}
