.card.w-100
  .card-body
    include tarjetaPaciente
    #accordionPanelsStayOpenExample.accordion
      include evoluciones
      include diagnosticos 
      include alergiasRegistradas 
      include antecedentesPatologicos 
      include habitos 
      include medicamentos 
      include botones
